.SignUp {
    padding: 10px;
}

#termsnConditions {
    cursor: pointer;
    color: rgba(0, 0, 0, .87);
    width: 17px;
    height: 17px;
    border: 1px solid #d4d4d5;
    margin-right: 0.5em;
}

#termsnConditionsLabel {
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

.SignUp .submit-button {
    width:100px;
}

#requiredStar{

    color: red;
}

.signUpForm{
    /* border: 5px solid; */
    padding:10px;
    

}