.app {
    text-align: center;
    padding: 10px;
}

.app__list {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

/*.app__button {
    border: 0;
    border-radius: 0;
    padding: 10px 20px;
    color: rgb(218, 22, 175);
    background-color: white;
    cursor: pointer;
    opacity: .8;
    outline: 0;
}*/

.app__button:hover {
    opacity: 1;
}



.app .mainMenuChat{
    margin-bottom: 10px;
}
ul{
padding-inline-start:1px;
}
li{
    list-style: none;
}
/* button {
    padding: 0 10px;
    background-color:red;
    color:black;
    border: 0;
    border-radius: 5px 5px 5px 5px;
    outline: 0;
    cursor: pointer;
} */
