.HomeView {
  background: black;
  color: rgb(255, 0, 242);
  height: 200px;
}

.homeView-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.homeView-search {
  padding: 10px;
  margin: 0 auto 0 auto;
  max-width: 400px;
}
